<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>这是login</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

	<link rel="stylesheet" type="text/css" id="mylink"/>
</head>
<body style="padding:0px;background:#EAEEF5;">
<div  style="height:32px; line-height:32px; text-align:center;">
	Copyright © 2017 这是dologin
</div>
</body>
</html>